.testcase-container {
    height: 100%;
    background-color: #fff;
    .case-content {
        padding: 0px;
        .case-item {
          .item-row {
            height: 100%;
            display: flex;
            font-size: 18px;    
          }
        }
    }
}

:deep(.el-tabs__header){
   margin: 0px;
}

  